@import "tailwindcss";

:root {
  /* Color Variables */
  --global-font-family: "peridot-pe-variable", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  --brand-color-black: #000000;
  --brand-color-dark: #123257;
  --brand-color-medium: #356ca8;
  --brand-color-light: #b3d7ed;
  --brand-color-highlight: #e9f250;
  --brand-color-purple: #6661cf;
  --brand-color-turquoise: #3dc2c9;
  --brand-color-orange: #f75938;
  --ui-color-dark: #000000;
  --ui-color-off-dark: #222222;
  --ui-color-mid-dark: #595959;
  --ui-color-mid-light: #d6d6d6;
  --ui-color-off-light: #f5f5f5;
  --ui-color-light: #ffffff;
  
  font-family: var(--global-font-family);
  font-variation-settings: "wdth" 100, "wght" 400;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--ui-color-light);
  background-color: var(--ui-color-off-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .font-var-extrabold {
    font-variation-settings: "wght" 900, "wdth" 100;
  }
  .font-var-extrabold-condensed {
    font-variation-settings: "wght" 900, "wdth" 60;
  }

  .nasm-primary-btn {
    width: 100%;
    display: block;
    font-size: 1rem;
    letter-spacing: 0.32px;
    line-height: 50px;
    text-align: center;
    background-color: var(--ui-color-light);
    border-radius: 4px;
    color: var(--brand-color-black);
    transition: all 0.2s ease-out;
  }
}
