@import "tailwindcss";

:root {
  font-family: "peridot-pe-variable", system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-variation-settings: "wdth" 100, "wght" 400;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  /* Color Variables */
  --brand-color-black: #000000;
  --brand-color-dark: #123257;
  --brand-color-medium: #356ca8;
  --brand-color-light: #b3d7ed;
  --brand-color-highlight: #E9F250;
  --brand-color-purple: #6661CF;
  --brand-color-turquoise: #3DC2C9;
  --brand-color-orange: #F75938;
  --ui-color-dark: #000000;
  --ui-color-off-dark: #222222;
  --ui-color-mid-dark: #595959;
  --ui-color-mid-light: #d6d6d6;
  --ui-color-off-light: #f5f5f5;
  --ui-color-light: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}